# `.dockerignore` must be in the root directory of the docker context

node_modules
**/node_modules

.git
.gitignore

npm-debug.log
**/npm-debug.log

Dockerfile*
**/Dockerfile*
docker-compose*
**/docker-compose*
.dockerignore
**/.dockerignore

dist
**/dist

next
**/.next

.cache
**/.cache

build
**/build

.env*
**/.env*